nav {
  background: #282E3C;
  height: 70px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 18.5px;
  padding-bottom: 18.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;


}

body {
  margin: 0;
  padding: 0;
  }

img#logo {

  height: 41px;

}

.menupadre {
  display: flex;
  justify-content: flex-end;

}

.button {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    color: #282E3C;
    background-color: #00EB8F;
    border-radius: 10px;
    border: 0px solid #0016b0;
    margin: 10px;
    width: 140px;
    height: 34px;
    border-width: medium;
    border-color: #00EB8F;
    text-align: center;
    line-height: 34px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.button:hover {
  background-color: white;
  border-radius: 10px;
  border: 0px solid #00EB8F;
  border-width: medium;


}

.button img {
  height: 23px;
  align-self: center;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-menu {
  height: 639px;
  background-image: url('images/philipp-kammerer-6Mxb_mZ_Q8E-unsplash.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(40,46,60,.94); 
}
