nav {
  background: #282E3C;
  height: 70px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 4px;
  padding-bottom: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;


}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  }

img#logo {

  height: 41px;

}

.menupadre {
  display: flex;
  justify-content: flex-end;

}

.button {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    color: #282E3C;
    background-color: #00EB8F;
    border-radius: 10px;
    border: 0px solid #0016b0;
    margin: 10px;
    width: 140px;
    height: 34px;
    border-width: medium;
    border-color: #00EB8F;
    text-align: center;
    line-height: 34px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.button:hover {
  background-color: white;
  border-radius: 10px;
  border: 0px solid #00EB8F;
  border-width: medium;


}

.button img {
  height: 23px;
  align-self: center;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-menu {
  height: 636px;
  background-image: url('images/philipp-kammerer-6Mxb_mZ_Q8E-unsplash.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(40,46,60,.94);
}

.main-container {
  max-width: 1017px;
  margin: auto;

}

.row {
  display: flex;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666666%;
}
.col-3 {
  width: 24.9999999999%;
}
.col-4 {
  width: 33.3333333332%;
}
.col-5 {
  width: 41.6666666665%;
}
.col-6 {
  width: 49.9999999998%;
}
.col-7 {
  width: 58.3333333331%;
}
.col-8 {
  width: 66.6666666664%;
}
.col-9 {
  width: 74.9999999997%;
}
.col-10 {
  width: 83.333333333%;
}
.col-11 {
  width: 91.6666666663%;
}

.col-12 {
  width: 100%;
}

h1 {
  margin: 0;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 29px;
  font-weight: bolder;
}
