nav {
  background: #282E3C;
  height: 70px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 4px;
  padding-bottom: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;


}



body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  }

img#logo {

  height: 41px;

}

.menupadre {
  display: flex;
  justify-content: flex-end;

}

.button {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    color: #282E3C;
    background-color: #00EB8F;
    border-radius: 10px;
    border: 0px solid #0016b0;
    margin: 10px;
    width: 140px;
    height: 34px;
    border-width: medium;
    border-color: #00EB8F;
    text-align: center;
    line-height: 34px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.button:hover {
  background-color: white;
  border-radius: 10px;
  border: 0px solid #00EB8F;
  border-width: medium;
  transition: background-color 0.5s, border-radius 0.5s;




}

.button svg {
  height: 23px;
  align-self: center;


}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-menu {
  height: 636px;
  background-image: url('images/philipp-kammerer-6Mxb_mZ_Q8E-unsplash.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(40,46,60,.94);
}

.main-container {
  max-width: 1017px;
  margin: auto;

}

.row {
  display: flex;
}

.value-preposition-container {
  display: flex;
  justify-content: center;
  width: inherit;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666666%;
}
.col-3 {
  width: 24.9999999999%;
}
.col-4 {
  width: 33.3333333332%;
}
.col-5 {
  width: 41.6666666665%;
}
.col-6 {
  width: 49.9999999998%;
  display: flex;

}

.col-6-justifyend {
  justify-content: flex-end;

}

.col-6-justifystart {
  justify-content:flex-start;

}



.col-7 {
  width: 58.3333333331%;
}
.col-8 {
  width: 66.6666666664%;
}
.col-9 {
  width: 74.9999999997%;
}
.col-10 {
  width: 83.333333333%;
}
.col-11 {
  width: 91.6666666663%;
}

.col-12 {
  width: 100%;
}

h1 {
  margin: 0;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 29px;
  font-weight: bolder;
}

.graphic {
  width: 1017px;
}

.graphic-container {
  width: inherit;
  text-align: center;

}


.button-orange {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 19px;
    color: white;
    background-color: #EB8F00;
    border-radius: 10px;
    border: 0px solid #EB8F00;
    margin: 10px;
    width: 247px;
    height: 67px;
    border-width: medium;
    border-color: #EB8F00;
    text-align: center;
    line-height: 67px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button-orange:hover #Rectangulo_34, .button-orange:hover #Trazado_26 {
  color: #282E3C;
  background-color: white;
  border-radius: 10px;
  border: 0px solid #EB8F00;
  border-width: medium;
  fill: black;
  transition: fill 0.5s;

}

.button-orange:hover #Trazado_22{
  fill: black;
  transition: fill 0.5s;
}
.button-orange:hover #Trazado_23{
  fill: black;
  transition: fill 0.5s;
}
.button-orange:hover #Trazado_24{
  fill: black;
  transition: fill 0.5s;
}
.button-orange:hover #Trazado_25{
  fill: black;
  transition: fill 0.5s;
}


.button-orange:hover {
  color: #282E3C;
  background-color: white;
  border-radius: 10px;
  border: 0px solid #EB8F00;
  border-width: medium;
  fill: black;
  transition: color 0.5s, background-color 0.5s, border-radius 0.5s, border-width 0.5s;

}

.button-orange svg {
  height: 45px;
  align-self: center;


}

#Trazado_22,#Trazado_23,#Trazado_24,#Trazado_25,#Trazado_26, #Rectangulo_34 {
  fill: white;
}


.button-orange-margin-left {
  margin-left: 20px;

}


.button-orange-margin-right {
    margin-right: 20px;
}


.value-left, .value-center, .value-right {
  height: 350px;
  width: 280px;
  box-shadow: 10px 10px 34px -5px rgba(0,0,0,0.13);
  border-radius: 20px;

}

.value-center {
  margin: 0 90px 0 90px;
}

.value-left {
  display: flex;
  flex-direction:column;
  justify-content: space-around;
  align-items: center;
}

h2 {
  margin: 0;
  color: #282E3C;
  text-transform: uppercase;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
}

h3 {
  margin: 0;
  color: #EB8F00;
  text-transform: uppercase;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
}

.value-preposition-container p {
  margin: 0;
  color: #282E3C;
  text-align: center;
  font-size: 16px;
  padding: 37.5px;

}

.value-preposition-container h3 {
  padding: 90px 0 0 0;
}


.green-circle {
  background: #00EB8F;
  border-radius: 50%;
  height: 95px;
  width: 95px;
  align-self: center;
  margin: -50px auto;

}
